*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root {
    --bo-color: #EF476F;
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

span {
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

/* .bx {
    font-size: 40px;
} */

/* MENU-ICON */
#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 6%;
    opacity: 85%;
    /* background: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
}










@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, .2);
        border-radius: 0 0 1rem 1rem;
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s  ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
}

/*  */
.section1 {
    background: var(--);
    padding-top: 150px;
    padding-bottom: 30px;
    color: black;
  }

.top1 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
}
  
  .container {
      max-width: 700px;
      margin: px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
     
  }
  
  h2 {
      text-align: center;
  }
  
  .form-group {
      margin-bottom: 15px;
  }
  
  .form-group label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  

  
  .form-group textarea {
      height: 100px;
  }
  
  .form-group button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  

  
  .form-group button:hover {
      background-color: #45a049;
  
  }

  @media (max-width: 1000px) {
    .form-group input,
  .form-group textarea {
    padding: 30px;
  }
  }

  @media (max-width: 1000px) {
    .form-group button {
      font-size: 1em;
      padding: 15px 25px;
      border-radius: 8px;
    }
  }

@media (max-width: 768px) {
    .top1 {
        font-size: 1.5rem;
    }
}

/* SECTION 9 */
.section9 {
    background: var(--second-bg-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    min-height: 20vh;
}


.chi {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.school-0 {
    margin-bottom: 30px
}

.school {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.school-1, .school-2 {
    width: 50%;
}

.last h2 {
    margin-bottom: 30px;
}

.last p {
    margin-bottom: 10px;
}

.last a {
    color: rgb(177, 14, 14);
}

/* footer  */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text, .footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 1.5rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

@media (max-width: 768px) {
    /* Section 9 */
     .chi {
        font-size: 1.5rem;
        flex-direction: column;
    }
    
    .chi h1, h2 {
        font-size: 2rem;
    }
    
    .ourschool {
        margin-bottom: 20px;
    }
    
    .school-1, .school-2 {
        width: 100%;
    } 
        
    .school-0 {
        margin-bottom: 7px;
    }
    
    .last h2 {
        margin-bottom: 10px;
    }

    /* footer */
    .footer {
        flex-direction: column-reverse;
    }

    .footer-text p {
        font-size: 1.2rem;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}